<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <title>Edit page</title>
  </head>
  <body>
    <div style="height: 100vh" class="d-flex align-items-center">
      <div class="container">
        <div class="card card-body container w-50 d-flex">
          <div class="d-flex justify-content-center text fs-1">
            Welcome <%= person.username %> ,edit your users data !
          </div>
          <br />
          <form action="/auth/users/edit/" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Username</label
              >
              <input
                type="text"
                name="username"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="<%=
              person.username %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >fullname</label
              >
              <input
                type="text"
                name="fullname"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="<%=
                person.biodata?.name %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">age</label>
              <input
                type="number"
                name="age"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="<%=
              person.biodata?.age %>"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">gender</label>
              <input
                type="text"
                name="gender"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                value="<%=
              person.biodata?.gender %>"
              />
            </div>

            <input
              type="text"
              name="id"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              value="<%=person.id %>"
            />

            <button type="submit" class="btn btn-success">Submit</button>
            <button type="submit" class="btn btn-primary">
              <a style="text-decoration: none; color: white" href="/dashboard">
                Cancel
              </a>
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
